*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
body {
  color: #fff;
  font-weight: 300;
  line-height: 1.6rem;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background: #eee;
}
.mainBody {
  width: 100vw;
  margin-left: auto;
  transition: all 0.3s;
}
body {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000;
}
.heading-primary {
  color: #fff;
  text-shadow: 2px 2px #777;
  text-transform: uppercase;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
}
.heading-secondary {
  color: #000;
  text-transform: uppercase;
  font-size: 6rem;
  margin-bottom: 6rem;
}
.alert {
  position: fixed;
  right: 10rem;
  bottom: 10rem;
  border: 1px solid #55c57a;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0.1rem 0.1rem 1rem #55c57a;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 777;
}
.alert_close {
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 2.5rem;
  color: #777;
}
.alert_close:hover {
  color: #eee;
  cursor: pointer;
}
.alert_message {
  font-size: 1.75rem;
  padding: 1rem;
  color: #777;
}
.login-selected .auth__register {
  left: -50rem;
  z-index: -1;
}
@media (max-width: 75em) {
  .login-selected .auth__register {
    left: -100rem;
  }
}
.login-selected .auth__login {
  left: 0;
  z-index: 10;
}
.login-selected .auth__toggle--slider {
  left: 12.5rem;
}
.auth {
  overflow: hidden;
  width: 70%;
  background-color: #fff;
  margin: auto;
  text-transform: uppercase;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 3px;
  padding: 5rem 6.5rem;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 100%;
}
@media (max-width: 75em) {
  .auth {
    height: 90vh;
    width: 80vw;
  }
}
@media (max-width: 56.25em) {
  .auth {
    height: 100vh;
    width: 100vw;
  }
}
.auth__toggle {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  width: 25rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #eee;
  border-radius: 5rem;
  padding: 0.5rem 2rem;
}
.auth__toggle--slider {
  transition: all 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(40, 180, 133, 0.6),
    rgba(126, 213, 111, 0.6)
  );
  border-radius: 5rem;
  width: 12rem;
  height: 3.75rem;
  z-index: 5;
}
.auth__toggle--register {
  cursor: pointer;
  z-index: 10;
  width: 12rem;
}
.auth__toggle--login {
  cursor: pointer;
  margin-left: 5.5rem;
  width: 12rem;
  z-index: 10;
}
.auth__register {
  transition: all 0.5s;
  position: relative;
  z-index: 10;
  left: 0;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
  grid-template-rows: repeat(16, min-content);
  grid-column-gap: 1rem;
}
.auth__register--lead {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: center;
  text-align: center;
  width: 75%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.6rem;
}
.auth__register input:not(:last-child) {
  margin-bottom: 3rem;
}
.auth__register--email-label {
  font-size: 1.4rem;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
.auth__register--email-input {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}
.auth__register--email-validation {
  font-size: 1.2rem;
  color: red;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  transform: translateY(-3rem);
}
.auth__register--firstName-label {
  font-size: 1.4rem;
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}
.auth__register--firstName-input {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}
.auth__register--firstName-validation {
  font-size: 1.2rem;
  color: red;
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  transform: translateY(-3rem);
}
.auth__register--lastName-label {
  font-size: 1.4rem;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}
.auth__register--lastName-input {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}
.auth__register--lastName-validation {
  font-size: 1.2rem;
  color: red;
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  transform: translateY(-3rem);
}
.auth__register--password-label {
  font-size: 1.4rem;
  grid-column: 1 / -1;
  grid-row: 8 / 9;
}
.auth__register--password-input {
  grid-column: 1 / -1;
  grid-row: 9 / 10;
}
.auth__register--password-validation {
  font-size: 1.2rem;
  color: red;
  grid-column: 1 / -1;
  grid-row: 10 / 11;
  transform: translateY(-3rem);
}
.auth__register--password2-label {
  font-size: 1.4rem;
  grid-column: 1 / -1;
  grid-row: 11 / 12;
}
.auth__register--password2-input {
  grid-column: 1 / -1;
  grid-row: 12 / 13;
}
.auth__register--password2-validation {
  font-size: 1.2rem;
  color: red;
  grid-column: 1 / -1;
  grid-row: 13 / 14;
  transform: translateY(-3rem);
}
.auth__register--passwords-validation {
  font-size: 1.2rem;
  color: red;
  grid-column: 1 / -1;
  grid-row: 13 / 14;
  transform: translateY(-3rem);
}
.auth__register--submit {
  grid-column: 1 / -1;
  grid-row: 15 / 16;
  min-width: 60%;
  justify-self: center;
  padding: 1rem;
  border-radius: 5rem;
}
.auth__login {
  transition: all 0.5s;
  position: relative;
  left: 50rem;
  z-index: -1;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
  grid-template-rows: repeat(9, min-content);
  grid-column-gap: 1rem;
}
@media (max-width: 75em) {
  .auth__login {
    left: 100rem;
  }
}
.auth__login--lead {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 75%;
  text-align: center;
}
.auth__login input:not(:last-child) {
  margin-bottom: 3rem;
}
.auth__login--email-label {
  font-size: 1.4rem;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
.auth__login--email-input {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}
.auth__login--email-validation {
  font-size: 1.2rem;
  color: red;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  transform: translateY(-3rem);
}
.auth__login--password-label {
  font-size: 1.4rem;
  grid-column: 1 / -1;
  grid-row: 5 / 6;
}
.auth__login--password-input {
  grid-column: 1 / -1;
  grid-row: 6 / 7;
}
.auth__login--password-validation {
  font-size: 1.2rem;
  grid-column: 1 / -1;
  grid-row: 7 / 8;
  transform: translateY(-3rem);
}
.auth__login--password-validation2 {
  font-size: 1.2rem;
  grid-column: 1 / -1;
  grid-row: 7 / 8;
  transform: translateY(-3rem);
}
.auth__login--submit {
  grid-column: 1 / -1;
  grid-row: 8 / 9;
  min-width: 60%;
  justify-self: center;
  padding: 1rem;
  border-radius: 5rem;
}
.btn {
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-animated {
  transition: all 0.2s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  border-radius: 10rem;
  color: #000;
  transition: all 0.2s;
  background-image: linear-gradient(
    to right bottom,
    rgba(40, 180, 133, 0.6),
    rgba(126, 213, 111, 0.6)
  );
}
.btn-animated:hover {
  transform: translateY(-3px);
}
.btn-animated:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-form {
  border-radius: 3px;
  padding: 1rem;
}
.btn-danger {
  background-color: red;
  color: #fff;
  transition: all 0.2s;
}
.btn-danger:hover {
  background-color: #ff4500;
}
.btn-danger:disabled {
  background-color: #f7f7f7;
  color: #777;
  cursor: not-allowed !important;
}
.btn-green {
  background-color: #55c57a;
  color: #fff;
  transition: all 0.2s;
}
.btn-green:hover {
  background-color: #7ed56f;
}
.btn-green:disabled {
  background-color: #f7f7f7;
  color: #777;
  cursor: not-allowed !important;
}
.btn-cancel {
  background-color: #fff;
  color: #000;
  transition: all 0.2s;
}
.btn-cancel:hover {
  background-color: #f7f7f7;
}
.btn-grey {
  background-color: #f7f7f7;
  color: #777;
  transition: all 0.2s;
}
.btn-grey:hover {
  background-color: #eee;
}
.dashboard {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  grid-auto-flow: dense;
}
.dashboard__heading {
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
  grid-column: 1 / -1;
}
.dashboard__welcome {
  margin-bottom: 2.5rem;
  grid-column: 1 / -1;
}
.dashboard__subheading--requests {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  grid-column: 1 / 2;
}
.dashboard__subheading--issues {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  grid-column: 1 / -1;
}
.dashboard__requests {
  border: 2px solid #eee;
  border-radius: 4px;
  padding: 1rem;
  grid-column: 1 / 2;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
}
.dashboard__requests a,
.dashboard__requests a:visited {
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 2px 0.5rem;
}
.dashboard__issues {
  border: 2px solid #eee;
  border-radius: 4px;
  grid-column: 1 / -1;
  padding: 1rem;
  border-collapse: collapse;
}
.dashboard__issues--headings th {
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #eee;
}
.dashboard__issues--rows:hover {
  background-color: #eee;
}
.dashboard__issues--rows td {
  text-align: center;
  border: 1px solid #eee;
}
.dashboard__issues--rows td a,
.dashboard__issues--rows td a:visited {
  text-decoration: none;
  color: black;
}
.dashboard__issues--nil {
  text-align: center;
}
.dashboard__workedOn {
  border: 2px solid #eee;
  border-radius: 4px;
  grid-column: 2 / -1;
  padding: 1rem;
}
.deleteWarning__content {
  background-color: #fff;
  border-radius: 4px;
  min-width: 40rem;
  position: relative;
  text-align: center;
  padding: 3.5rem 3rem 4rem 3rem;
}
@media (max-width: 37.5em) {
  .deleteWarning__content {
    width: 100%;
    height: min-content;
    border-radius: 0;
  }
}
.deleteWarning__inputConfirm {
  width: 100%;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 0.5rem 1rem;
  border: 0.2rem solid #eee;
  border-radius: 3px;
  background-color: #fff;
  display: block;
  transition: all 0.2s;
}
.deleteWarning__inputConfirm:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid red;
}
.deleteWarning__inputConfirm:hover {
  background-color: #f7f7f7;
}
.deleteWarning__message {
  font-size: 2rem;
}
.deleteWarning__buttons {
  margin-top: 2rem;
}
.deleteWarning__buttons .btn {
  font-size: 1.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.form__input {
  width: 100%;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 0.5rem 1rem;
  border: 0.2rem solid #eee;
  border-radius: 3px;
  background-color: #fff;
  display: block;
  transition: all 0.2s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #55c57a;
}
.form__input:hover {
  background-color: #f7f7f7;
}
.form__validation {
  color: red;
}
.popup {
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.popup__content {
  background-color: #fff;
  border-radius: 4px;
  min-width: 50rem;
  position: relative;
}
@media (max-width: 37.5em) {
  .popup__content {
    width: 100vw;
    border-radius: 0;
  }
}
.popup .react-select {
  grid-column: 1 / -1;
}
.popup h3 {
  margin-top: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.popup__close {
  position: absolute;
  top: 0;
  right: 1.5rem;
  font-size: 2.5rem;
  transition: all 0.2s;
}
@media (max-width: 37.5em) {
  .popup__close {
    display: none;
  }
}
.popup__close:hover,
.popup__close:active {
  color: #777;
  cursor: pointer;
}
.popup__form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row dense;
  grid-column-gap: 1rem;
}
@media (max-width: 37.5em) {
  .popup__form {
    grid-template-columns: 1fr;
    width: 95vw;
  }
}
.popup__form textarea {
  resize: none;
  height: 15rem;
}
.popup__form--infoText {
  color: grey;
  font-size: 1.1rem;
  grid-column: 1 / -1;
}
.popup__form--buttons {
  grid-column: 2 / -1;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  margin-bottom: 1rem;
}
.popup__form--buttons .popup__form--create {
  margin-left: 1rem;
}
@media (max-width: 37.5em) {
  .popup__form--buttons {
    grid-column: 1 / -1;
  }
}
.popup__form label {
  grid-column: 1 / -1;
}
.popup .form__input {
  grid-column: 1 / -1;
  width: 100%;
  margin-bottom: 1rem;
}
.landing {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(40, 180, 133, 0.6),
      rgba(126, 213, 111, 0.6)
    ),
    url("/img/backgroundFinal.png");
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 75em) {
  .landing {
    grid-template-columns: 1fr;
  }
}
.landing__text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content repeat(2, 1fr);
  align-items: start;
}
@media (max-width: 75em) {
  .landing__text {
    display: none;
  }
}
.landing__text--brand {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  align-self: start;
  padding-left: 10rem;
  padding-top: 5rem;
}
.landing__text--subtext {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  align-self: start;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding-left: 10rem;
}
.landing__img {
  max-width: 75%;
  grid-column: 1 /-1;
  grid-row: 2 / -1;
  justify-self: center;
  align-self: center;
  transform: translateY(7rem) translateX(7rem);
}
.toggle__checkbox {
  display: none;
}
.toggle__button {
  z-index: 999;
  background-color: #f7f7f7;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  position: fixed;
  transform: translateX(2.5rem);
  top: 2rem;
  box-shadow: 1rem 3rem 3rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
  border: 2px solid #55c57a;
  cursor: pointer;
}
.toggle__button:hover .toggle__button--icon::before {
  top: -0.9rem;
}
.toggle__button:hover .toggle__button--icon::after {
  top: 0.9rem;
}
.toggle__button--icon {
  position: relative;
  margin-top: 2.25rem;
}
.toggle__button--icon,
.toggle__button--icon::before,
.toggle__button--icon::after {
  width: 2.25rem;
  height: 2px;
  background-color: #777;
  display: inline-block;
}
.toggle__button--icon::before,
.toggle__button--icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.toggle__button--icon::before {
  top: -0.7rem;
}
.toggle__button--icon::after {
  top: 0.7rem;
}
.navigation {
  background-color: #55c57a;
  width: 5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;
  transition: width 0.3s;
  overflow: hidden;
}
@media (max-width: 37.5em) {
  .navigation {
    left: -5rem;
  }
}
.navigation__list {
  list-style: none;
  margin-top: 10rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.navigation__item {
  width: 18rem;
}
.navigation__item:last-child {
  margin-top: auto;
  margin-bottom: 10rem;
}
.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  color: #eee;
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 2.5rem;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 260%;
  transition: all 0.4s;
}
.navigation__link:link:hover,
.navigation__link:link:active,
.navigation__link:visited:hover,
.navigation__link:visited:active {
  background-position: 100%;
  color: #55c57a;
}
.navigation__link--text {
  margin-left: 2rem;
}
.navigation__link svg {
  height: 2.5rem;
  width: 2.5rem;
  transform: translateX(-50%);
}
.toggle__checkbox:checked ~ .toggle__button {
  transform: translateX(15.5rem);
}
.toggle__checkbox:checked ~ .navigation {
  width: 18rem;
}
@media (max-width: 37.5em) {
  .toggle__checkbox:checked ~ .navigation {
    left: 0rem;
  }
}
.toggle__checkbox:checked + .toggle__button .toggle__button--icon {
  background-color: transparent;
}
.toggle__checkbox:checked + .toggle__button .toggle__button--icon::before {
  top: 0;
  transform: rotate(135deg);
}
.toggle__checkbox:checked + .toggle__button .toggle__button--icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.toggle__checkbox:checked ~ .mainBody {
  width: calc(100vw - 18rem);
  margin-left: auto;
}
@media (max-width: 37.5em) {
  .toggle__checkbox:checked ~ .mainBody {
    width: 100vw;
  }
}
.people {
  min-height: 100vh;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 37.5em) {
  .people {
    width: 100%;
    padding: 0 1rem;
  }
}
.people__buttons {
  display: flex;
  justify-content: flex-end;
}
.people__buttons-btn {
  font-size: 1.6rem;
  margin: 1rem 0 3rem 1rem;
  padding: 0.75rem;
  border-radius: 4px;
}
.people__filter {
  position: relative;
  margin-bottom: 2rem;
}
@media (max-width: 37.5em) {
  .people__filter {
    width: 100%;
  }
}
.people__filter--search {
  width: 100%;
  font-size: 2.2rem;
}
.people__filter svg {
  color: #777;
  vertical-align: middle;
  position: absolute;
  right: 0;
  height: 100%;
  width: 3rem;
}
@media (max-width: 37.5em) {
  .people__filter svg {
    display: none;
  }
}
.people__people {
  margin-bottom: 2rem;
}
.people__people--list {
  display: grid;
  grid-template-columns: repeat(6, minmax(min-content, 16.66667%));
  column-gap: 1rem;
  align-content: center;
}
@media (max-width: 75em) {
  .people__people--list {
    grid-template-columns: repeat(5, minmax(min-content, 20%));
  }
}
@media (max-width: 56.25em) {
  .people__people--list {
    grid-template-columns: repeat(4, minmax(min-content, 25%));
  }
}
@media (max-width: 37.5em) {
  .people__people--list {
    grid-template-columns: repeat(2, minmax(min-content, 50%));
  }
}
.people__people h3 {
  margin-bottom: 2rem;
}
.people__people--peopleItem {
  border: 1px solid #eee;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #777;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  transition: all 0.4s;
}
.people__people--peopleItem:hover {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}
.people__people--peopleItem svg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 8.5rem;
  height: 8.5rem;
}
.people__people--peopleItem-avatar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.4rem;
  height: 8rem;
  width: 8rem;
  border-radius: 4rem;
  background-color: #000;
}
.people__people--peopleItem-button {
  width: 70%;
  font-size: 1.6rem;
  padding: 5px 1.5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.people__teams h3 {
  margin-bottom: 2rem;
}
.people__teams--list {
  display: grid;
  grid-template-columns: repeat(6, minmax(min-content, 16.66667%));
  column-gap: 1rem;
  align-content: center;
}
@media (max-width: 75em) {
  .people__teams--list {
    grid-template-columns: repeat(5, minmax(min-content, 20%));
  }
}
@media (max-width: 56.25em) {
  .people__teams--list {
    grid-template-columns: repeat(4, minmax(min-content, 25%));
  }
}
@media (max-width: 37.5em) {
  .people__teams--list {
    grid-template-columns: repeat(2, minmax(min-content, 50%));
  }
}
.people__teams--teamItem {
  border: 1px solid #eee;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #777;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all 0.4s;
}
.people__teams--teamItem:hover {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}
.people__teams--teamItem-teamAvatar {
  height: 8rem;
  width: 100%;
  display: block;
  background-image: linear-gradient(to bottom left, #777, #eee);
  margin-bottom: 1rem;
}
.people__teams--teamItem-teamCreator {
  height: 3rem;
  width: 3rem;
  background-color: black;
  border-radius: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.people__teams--teamItem-teamName {
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}
.profile {
  display: grid;
  grid-template-columns: minmax(30rem, 1fr) 3fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10rem;
  padding: 5rem 15rem;
  height: 100vh;
}
@media (max-width: 56.25em) {
  .profile {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }
}
@media (max-width: 75em) {
  .profile {
    padding: 5rem 7.5rem;
  }
}
@media (max-width: 37.5em) {
  .profile {
    padding: 1rem 1rem;
  }
}
.profile a {
  text-decoration: none;
  color: inherit;
}
.profile__about {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border: 3px solid #eee;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
}
@media (max-width: 56.25em) {
  .profile__about {
    border: none;
    align-items: center;
    margin-bottom: 5rem;
  }
}
.profile__about--header {
  align-self: center;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 3px solid #eee;
}
.profile__about--header-avatar {
  height: 8rem;
  width: 8rem;
  border-radius: 5rem;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
.profile__about h3 {
  margin-bottom: 1rem;
}
.profile__about--information {
  margin-bottom: 1rem;
}
.profile__about--information-item {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
}
.profile__about--information-item svg {
  width: 1.6rem;
  margin-right: 2rem;
}
.profile__about--buttons {
  margin-top: 10rem;
}
.profile__about--buttons-btn {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
}
@media (max-width: 56.25em) {
  .profile__about--buttons {
    margin-top: 1rem;
    width: 50%;
  }
}
.profile__main {
  grid-row: 1 / -1;
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-column-gap: 5rem;
}
.profile__main .noItems {
  margin-left: 0.5rem;
  color: #777;
}
.profile__receivedRequests {
  grid-column: 1 / -1;
  margin-bottom: 5rem;
}
.profile__receivedRequests .infoText {
  color: #777;
  font-size: 1.3rem;
}
.profile__receivedRequests--requests {
  border: 3px solid #eee;
  border-radius: 4px;
  padding: 0.25rem;
}
.profile__receivedRequests--requests-person,
.profile__receivedRequests--requests-team {
  transition: all 0.2s;
  padding: 0.5rem;
  margin-top: 1px;
  border-radius: 4px;
  display: flex;
}
.profile__receivedRequests--requests-person:hover,
.profile__receivedRequests--requests-team:hover {
  background-color: #eee;
}
@media (max-width: 75em) {
  .profile__receivedRequests--requests-person,
  .profile__receivedRequests--requests-team {
    font-size: 1.4rem;
  }
}
.profile__receivedRequests--requests-person span,
.profile__receivedRequests--requests-team span {
  margin-right: 2rem;
}
.profile__receivedRequests--buttons {
  display: inline-block;
  margin-left: auto;
  margin-right: 1rem;
  min-width: 15rem;
  display: flex;
  align-items: center;
}
.profile__receivedRequests--buttons-button {
  padding: 0.5rem;
  border-radius: 4px;
}
.profile__receivedRequests--buttons-button:last-child {
  margin-left: 0.5rem;
}
.profile__yourProjects {
  grid-column: 1 / 2;
}
@media (max-width: 75em) {
  .profile__yourProjects {
    grid-column: 1 / -1;
    margin-bottom: 5rem;
  }
}
.profile__yourProjects--projects {
  border: 3px solid #eee;
  border-radius: 4px;
  padding: 0.25rem;
}
.profile__yourProjects--projects-projectItem {
  transition: all 0.2s;
  padding: 0.5rem;
  margin-top: 1px;
  border-radius: 4px;
}
.profile__yourProjects--projects-projectItem:hover {
  background-color: #eee;
}
.profile__yourProjects--projects-projectItem a {
  text-decoration: none;
  color: #777;
  font-size: 1.3rem;
}
.profile__yourTeams {
  grid-column: 2 / -1;
}
@media (max-width: 75em) {
  .profile__yourTeams {
    grid-column: 1 / -1;
  }
}
.profile__yourTeams--teams {
  border: 3px solid #eee;
  border-radius: 4px;
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
@media (max-width: 75em) {
  .profile__yourTeams--teams {
    grid-template-columns: repeat(3, minmax(min-content, 33.3333%));
  }
}
@media (max-width: 56.25em) {
  .profile__yourTeams--teams {
    grid-template-columns: repeat(4, minmax(min-content, 25%));
  }
}
@media (max-width: 37.5em) {
  .profile__yourTeams--teams {
    grid-template-columns: repeat(2, minmax(min-content, 50%));
  }
}
.profile__yourTeams--teams-teamItem {
  transition: all 0.2s;
  border: 1px solid #eee;
  padding-left: 1rem;
  margin-top: 1px;
  border-radius: 4px;
}
.profile__yourTeams--teams-teamItem:hover {
  background-color: #eee;
}
.project {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: min-content min-content min-content;
  grid-column-gap: 5rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
}
@media (max-width: 37.5em) {
  .project {
    display: flex;
    flex-direction: column;
  }
}
.project__top {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.project__top--projectUrl {
  display: flex;
  margin-top: 1rem;
  border-radius: 4px;
}
.project__top--projectUrl svg {
  width: 1.75rem;
  color: #55c57a;
}
.project__top--projectUrl a,
.project__top--projectUrl a:visited {
  text-decoration: none;
  color: #55c57a;
  margin-left: 1rem;
  font-size: 1.4rem;
}
.project__top--projectUrl a:hover,
.project__top--projectUrl a:visited:hover {
  text-decoration: underline;
}
.project__top--navLinks {
  font-size: 1.4rem;
  color: #777;
}
.project__top--navLinks a {
  text-decoration: none;
  color: inherit;
}
.project__top--navLinks a:hover {
  text-decoration: underline;
}
.project__top--createIssue {
  padding: 1rem;
  border-radius: 4px;
  margin-top: 1rem;
  position: absolute;
  right: 10rem;
  top: 2rem;
}
@media (max-width: 37.5em) {
  .project__top--createIssue {
    right: 2rem;
  }
}
.project__top--filter {
  position: relative;
}
.project__top--filter input {
  width: 100%;
}
.project__top--filter svg {
  width: 2rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.project__side {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.project__side--issuesList {
  background-color: #eee;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
}
.project__side--issuesList select {
  margin-bottom: 1rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  border: none;
  outline: none;
}
.project__side--issuesList-item {
  background-color: #fff;
  width: 99%;
  border-radius: 1px;
  padding: 1rem;
  margin: 0 auto;
  text-decoration: none;
  color: #777;
  cursor: pointer;
  transition: all 0.2s;
}
.project__side--issuesList-item:hover {
  background-color: #f7f7f7;
}
.project__side--button {
  padding: 1rem;
  width: 100%;
  border-radius: 4px;
}
.project__side--button:not(:last-child) {
  margin-bottom: 0.5rem;
}
.project__side--button-special {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.project__side--button-special button {
  border-radius: 4px;
}
.project__side--button-special .share {
  padding: 1rem;
  width: 80%;
}
.project__side--button-special .more {
  width: 15%;
  padding: 0.4rem;
  font-size: 2.5rem;
  line-height: initial;
  vertical-align: middle;
  text-align: center;
}
@media (max-width: 56.25em) {
  .project__side--button-special .more {
    font-size: 1.2rem;
  }
}
.project__main {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 5rem;
}
@media (max-width: 56.25em) {
  .project__main {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
  }
}
.project__main .issue__main {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
}
.project__main .issue__main--issueName {
  font-size: 2rem;
  color: #000;
}
.project__main .issue__main--key {
  font-size: 1.4rem;
}
.project__main .issue__main--dateCreated {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.project__main .issue__main--type,
.project__main .issue__main--summary,
.project__main .issue__main--description {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.project__main .issue__main--type span,
.project__main .issue__main--summary span,
.project__main .issue__main--description span {
  font-weight: bold;
}
.project__main .issue__main--comments {
  font-size: 1.4rem;
}
.project__main .issue__main--comments span {
  font-weight: bold;
}
.project__main .issue__main--comments-input {
  width: 100%;
  resize: none;
  height: 5rem;
  margin-top: 0.5rem;
}
.project__main .issue__main--comments-button {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  width: 7.5rem;
  float: right;
}
.project__main .issue__main--comments-postedComments {
  margin-top: 5rem;
}
.project__main .issue__main--comments-postedComments-commentItem {
  display: flex;
  flex-direction: column;
}
.project__main .issue__main--comments-postedComments-commentItem-user {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.project__main .issue__main--comments-postedComments-commentItem-user .avatar {
  height: 2.5rem;
  width: 2.5rem;
  background-color: black;
  border-radius: 4rem;
}
.project__main .issue__main--comments-postedComments-commentItem-user .name {
  font-size: 1.3rem;
  margin-left: 1rem;
}
.project__main .issue__main--comments-postedComments-commentItem p {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.project__main .issue__main--comments-postedComments-commentItem-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.project__main .issue__main--comments-postedComments-commentItem-footer .date,
.project__main
  .issue__main--comments-postedComments-commentItem-footer
  .remove {
  font-size: 1.2rem;
  color: #777;
}
.project__main
  .issue__main--comments-postedComments-commentItem-footer
  .remove:hover {
  text-decoration: underline;
  cursor: pointer;
}
.project__main .issue__side {
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
}
@media (max-width: 56.25em) {
  .project__main .issue__side {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-column-gap: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.project__main .issue__side--status,
.project__main .issue__side--assignee,
.project__main .issue__side--reporter,
.project__main .issue__side--priority,
.project__main .issue__side--dueDate {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
}
.project__main .issue__side--status span,
.project__main .issue__side--assignee span,
.project__main .issue__side--reporter span,
.project__main .issue__side--priority span,
.project__main .issue__side--dueDate span {
  font-size: 1.4rem;
}
.project__main .issue__side--status .issue__side--heading,
.project__main .issue__side--assignee .issue__side--heading,
.project__main .issue__side--reporter .issue__side--heading,
.project__main .issue__side--priority .issue__side--heading,
.project__main .issue__side--dueDate .issue__side--heading {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.project__main .issue__side--status-button {
  font-size: 1.3rem;
  padding: 1rem 0.5rem;
  border-radius: 4px;
  width: 50%;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
@media (max-width: 37.5em) {
  .project__main .issue__side--status-button {
    display: block;
    margin-left: 0;
    width: 100%;
  }
}
.project__main .issue__side--status-info {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  color: #777;
  display: block;
}
.project__main .issue__side--assignee-item {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.project__main .issue__side--assignee-item .avatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 4rem;
}
.project__main .issue__side--assignee-item .name {
  margin-left: 1rem;
}
.project__main .issue__side--reporter-item {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}
.project__main .issue__side--reporter-item .avatar {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 4rem;
}
.project__main .issue__side--reporter-item .name {
  margin-left: 1rem;
}
.project__main .issue__side--buttons {
  margin-top: 1rem;
}
@media (max-width: 56.25em) {
  .project__main .issue__side--buttons {
    margin-top: 2rem;
    width: 100%;
    grid-column: 1 / -1;
  }
}
.project__main .issue__side--buttons-button {
  padding: 1rem;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
.sharedWith {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
}
.sharedWith__item {
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  transition: all 0.2s;
}
.sharedWith__item:hover {
  background-color: #f7f7f7;
}
.sharedWith__item .name {
  margin-left: 1rem;
}
.sharedWith__item .remove {
  height: min-content;
  display: inline-block;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: transparent;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2rem;
  transition: all 0.2s;
  cursor: pointer;
}
.sharedWith__item .remove:hover {
  color: #777;
}
.projects {
  min-height: 100vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.projects h1 {
  margin-bottom: 2rem;
}
.projects__button {
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}
.projects__filter {
  width: 30%;
  position: relative;
}
@media (max-width: 37.5em) {
  .projects__filter {
    width: 50%;
  }
}
.projects__filter input {
  width: 100%;
  padding-right: 2.5rem;
}
.projects__filter svg {
  display: inline-block;
  width: 2rem;
  color: #777;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.projects__list {
  margin-top: 3rem;
  text-align: left;
  border-collapse: collapse;
}
.projects__list a {
  text-decoration: none;
  color: #000;
}
.projects__list th {
  border-bottom: 3px solid #eee;
}
.projects__list--projectItem {
  background-color: #fff;
  transition: all 0.2s;
}
.projects__list--projectItem:hover {
  background-color: #eee;
}
.projects__list--projectItem-projectName {
  width: 33.333333%;
}
.projects__list--projectItem-projectName span {
  margin-left: 0.5rem;
}
@media (max-width: 37.5em) {
  .projects__list--projectItem-projectName {
    width: 70%;
  }
}
.projects__list--projectItem-key {
  width: 33.333333%;
}
@media (max-width: 37.5em) {
  .projects__list--projectItem-key {
    width: 15%;
  }
}
.projects__list--projectItem-lead {
  width: 33.333333%;
}
@media (max-width: 37.5em) {
  .projects__list--projectItem-lead {
    width: 15%;
  }
}
.projects__list--projectItem-lead-avatar {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.projects__list--projectItem-lead-name {
  margin-left: 0.5rem;
}
@media (max-width: 37.5em) {
  .projects__list--projectItem-lead-name {
    display: none;
  }
}
.projects__list tr:last-child {
  border-bottom: 3px solid #eee;
}
.searchBar {
  font-family: inherit;
  color: inherit;
  padding: 1rem 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid #eee;
  border-radius: 3px;
  outline: none;
  background-color: #fff;
  display: inline-block;
  transition: all 0.2s;
}
.searchBar:focus,
.searchBar:hover,
.searchBar:active {
  border-bottom: 3px solid #55c57a;
}
.search__results {
  margin-top: 3rem;
}
.search__results--peopleItem {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid #eee;
  text-decoration: none;
  color: #777;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}
.search__results--peopleItem-avatar {
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  margin-bottom: 1rem;
}
.search__results--peopleItem-name {
  margin-bottom: 0.5rem;
}
.search__results--peopleItem-blurb {
  font-size: 1.3rem;
}
.search__results--peopleItem-options {
  margin: 1rem 0;
  border-top: 1px solid #eee;
}
.search__results--peopleItem-options span {
  margin-top: 1rem;
  font-size: 1.4rem;
  display: inline-block;
}
.team {
  display: grid;
  grid-template-columns: minmax(30rem, 1fr) 2fr;
  grid-column-gap: 10rem;
  min-height: 100vh;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
@media (max-width: 56.25em) {
  .team {
    grid-template-columns: 1fr;
  }
}
.team__side {
  display: flex;
  flex-direction: column;
}
@media (max-width: 56.25em) {
  .team__side {
    margin-bottom: 5rem;
  }
}
.team__side h3 {
  margin-bottom: 2rem;
}
.team__side--description {
  font-size: 1.4rem;
  color: #777;
  margin-bottom: 1rem;
}
.team__side--teamCreator {
  margin-bottom: 2rem;
}
.team__side--teamCreator-title {
  font-size: 1.4rem;
  color: #777;
}
.team__side--teamCreator-info {
  text-decoration: none;
  display: flex;
  margin-bottom: 2rem;
}
.team__side--teamCreator-info-avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 4rem;
  margin-top: auto;
  margin-bottom: auto;
}
.team__side--teamCreator-info-name {
  font-size: 1.4rem;
  margin-left: 2rem;
  color: #777;
}
.team__side--buttons {
  padding: 1rem 0.5em;
  border-radius: 4px;
  font-size: inherit;
  margin-bottom: 0.5rem;
}
.team__side .team__members {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 1rem 2rem;
  margin-top: 3.5rem;
}
.team__side .team__members span {
  font-size: 1.4rem;
  color: #777;
  margin-bottom: 1rem;
}
.team__side .team__members--list {
  display: flex;
  flex-direction: column;
}
.team__side .team__members--list-memberItem {
  display: flex;
  padding: 1rem;
  border-radius: 4px;
  transition: all 0.2s;
}
.team__side .team__members--list-memberItem:hover {
  background-color: #f7f7f7;
}
.team__side .team__members--list-memberItem a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.team__side .team__members--list-memberItem-avatar {
  grid-column: 1 / 2;
  height: 2rem;
  width: 2rem;
  border-radius: 4rem;
  margin-top: auto;
  margin-bottom: auto;
}
.team__side .team__members--list-memberItem-spans {
  grid-column: 2 / -1;
  margin-left: 2rem;
}
.team__side .team__members--list-memberItem-remove {
  height: min-content;
  display: inline-block;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: transparent;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  transition: all 0.2s;
}
.team__side .team__members--list-memberItem-remove:hover {
  color: #777;
}
.team__side .team__members--list-memberItem-status {
  background-color: #eee;
  margin-left: 2rem;
  padding: 0.5rem;
  border-radius: 4px;
}
@media (max-width: 56.25em) {
  .team__side .team__members--list-memberItem-status {
    margin-left: 1rem;
  }
}
.u-margin-top-small {
  margin-top: 1.5rem !important;
}
.u-text-warning {
  color: red !important;
}
.u-selected-background {
  background-color: blue !important;
}
.u-col-full {
  grid-column: 1 / -1 !important;
}
.u-col-1-of-2 {
  grid-column: 1 / 2 !important;
}
.u-col-2-of-2 {
  grid-column: 2 / 3 !important;
}
@media (max-width: 37.5em) {
  .u-col-2-of-2 {
    grid-column: 1 / 2 !important;
  }
}
